@font-face{
  font-family: 'Minecraft';
  src: url(/style/Minecraft.ttf);
  font-style:normal;
  font-weight: 400;

}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Minecraft';
  
}

.landing{
  font-family: 'Minecraft';
  text-align: center;
  background: url('./wp2586787-wallpaper-minecraft.jpg') no-repeat center center/cover;
  height: 100vh;
}

.landing header{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.landing h1{
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px; 
}
.landing h3{
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.landing a{
  text-decoration: none;
  
  padding: 10px;
  
  
}
.landing a:hover{
  color: rgba(51, 51, 51, 0.479);
 
}

#game{
  display: flex;
  

}

#world{
  
  width: 75vw;
  height: 100vh;
  border: lightcoral 1px solid;
  
}
.tile{
  display: flex;
  flex-wrap: wrap;

  position: relative;
}

.box {
  height: 35px;
  width: 35px; 
}

.box:hover {
  opacity: 0.7;
}
.skyTile{
  background: lightskyblue;
  
}

.groundTile{
  background-image: url('/style/soil.jpg');
  
}
.treeTile{
  background-image: url('/style/wood.png') ;
}
.rocksTile{
  background-image: url('/style/rock.png') ;
}
.woodTile{
  background-image: url('/style/wood.png') ;
}
.leavesTile{
  background-image: url('/style/tree-leaves.png') ;
}



.dirt{
  background-image: url('/style/soil.jpg') ;
}
.wood{
  background-image: url('/style/wood.png') ;
}

.rocks{
  background-image: url('/style/rock.png') ;
}

.leaves{
  background-image: url('/style/tree-leaves.png') ;
}

#nav-bar{
 

  border: black 1px solid;
  width: 25vw;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.tools{
  display: flex;

  flex-direction: column;
}

.tool{
  border: crimson 1px solid;
  width: 50px;
  height: 50px;
  
  margin: 10px;
}


.axe{
  background: url('./Diamond_Axe_JE2_BE2.png') no-repeat center center/cover;
}
.pickaxe{
  background: url('./Diamond_Pickaxe_JE3_BE3.png') no-repeat center center/cover;
}
.shovel{
  background: url('./150px-Diamond_Shovel.png') no-repeat center center/cover;
}



.inventory{
  display: flex;
  
  flex-direction: row;
}

.item{
  border: crimson 1px solid;
  width: 50px;
  height: 50px;
 
  margin: 10px;
}

.refresh{
  border: black 1px solid;
  width: 60px;
  text-align: center;
  background: chartreuse;
  display: flex;
  justify-content: center;
}
.refresh:hover{
  background: pink;
  
}
